<div class="jumbotron">
  <h1>Check Order Status</h1>
  <p class="lead">Enter your order number and click submit.</p>
  <%= form_tag 'check_order_status' do %>
      <div class="form-group">
        <div class="col-sm-4">
          <%= text_field_tag :order_no,'', {:class => 'col-sm-4 form-control',:placeholder => 'Order Number'} %>
        </div>
        <div class="col-sm-2">
          <%= submit_tag 'Submit', :class => 'btn btn-success' %>
        </div>
      </div>
  <% end %>
</div>